*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(field3.png);
    background-position: center;
    background-size: cover;
}

.login{
    width: 380px;
    height:min-content;
    padding: 20px;
    border-radius: 15px;
    background: #c5c9fc;
}

.form-header{
    /* width: 350px;
    text-align: center; */
    display: flex;
  justify-content: center;
    margin-bottom: 25px;

}
.form-header img{
    width: 400px;
    height: 60px;
}

.login form{
    font-size: 20px;
}

.login form .form-group{
    margin-bottom:20px;
}

.login form input[type='submit'] {
    font-size: 20px;
    margin-top: 15px;
}